---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="従来のメディアクエリによるレスポンシブ画像">
    <Fragment slot="head">
        <style is:global>
            @media (max-width: 480px) {
                .pc {
                    display: none;
                }
            }
            @media not all and (max-width: 480px) {
                .sp {
                    display: none;
                }
            }
        </style>
    </Fragment>
    <main class="wrapper">
        <h1>従来のメディアクエリによるレスポンシブ画像</h1>

        <div class="xrea-ad">
            <script type="text/javascript" src="https://cache1.value-domain.com/xa.j?site=aioilight.s1007.xrea.com" charset="Shift_JIS" is:inline></script>
        </div>

        <img class="sp" src="sp.webp" alt="野良猫の写真。">
        <img class="pc" src="pc.webp" alt="野良猫の写真。">

        <p><a href="https://github.com/AioiLight/labs.aioilight.space" target="_blank">GitHub リポジトリ</a></p>
    </main>
</BaseLayout>
