---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="picture タグによるレスポンシブ画像">
    <main class="wrapper">
        <h1>picture タグによるレスポンシブ画像</h1>


        <picture>
            <source srcset="sp.webp 640w, sp_half.webp 320w" media="(max-width: 480px)" sizes="50em">
            <img src="pc.webp" srcset="pc.webp 1920w, pc_half.webp 960w" sizes="50em" alt="野良猫の写真。">
        </picture>

        <p><a href="https://github.com/AioiLight/labs.aioilight.space" target="_blank">GitHub リポジトリ</a></p>
    </main>
</BaseLayout>
