---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout
    title="【無修正】マジで何度でも抜ける二次元のエロ画像！"
    ogUrl="https://labs.aioilight.space/shibata/"
    ogTitle="【無修正】マジで何度でも抜ける二次元のエロ画像！"
    ogType="website"
    ogDescription="【無修正】マジで何度でも抜ける二次元のエロ画像！"
    ogImage="https://labs.aioilight.space/shibata/shibata.webp"
    twitterCard="summary_large_image"
>
    <Fragment slot="head">
        <link rel="stylesheet" href="./index.css">
    </Fragment>
    <main class="wrapper">
        <h1>【無修正】マジで何度でも抜ける二次元のエロ画像！</h1>

        <video class="player" src="./shibata.mp4" controls></video>

        <div class="xrea-ad">
            <script type="text/javascript" src="https://cache1.value-domain.com/xa.j?site=aioilight.s1007.xrea.com" charset="Shift_JIS" is:inline></script>
        </div>

        <p><a href="https://github.com/AioiLight/labs.aioilight.space/tree/main/shibata/" target="_blank">GitHub でコードを見る</a></p>
    </main>
</BaseLayout>
