---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="labs.aioilight.space">
    <main class="wrapper">
        <h1>labs.aioilight.space</h1>


        <p><a href="https://github.com/AioiLight/labs.aioilight.space" target="_blank">GitHub リポジトリ</a></p>
    </main>
</BaseLayout>
