---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="labs.aioilight.space">
    <main class="wrapper">
        <h1>labs.aioilight.space</h1>

        <div class="xrea-ad">
            <script type="text/javascript" src="https://cache1.value-domain.com/xa.j?site=aioilight.s1007.xrea.com" charset="Shift_JIS" is:inline></script>
        </div>

        <p><a href="https://github.com/AioiLight/labs.aioilight.space" target="_blank">GitHub リポジトリ</a></p>
    </main>
</BaseLayout>
