@charset "utf-8";

img {
    inline-size: 50%;
    block-size: auto;
}

.size2 {
    inline-size: 75%;
}

.size3 {
    inline-size: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0 3%;
}